.webcam-container {
  position: relative;
  width: 45vw;
  margin: auto;
}

.webcam-video {
  width: 100%;
  border-radius: 8px;
  transform: scaleX(-1); /* mirrors the video horizontally */
}

.webcam-canvas {
  display: none;
}

.webcam-buttons {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.start-stop-buttons {
  display: flex;
  gap: 10px;
}

.webcam-buttons button {
  padding: 10px 20px;
  border: 1px solid #4a5759;
  border-radius: 10px;
  background-color: #b0c4b1;
  color: #4a5759;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.webcam-buttons button:hover {
  background-color: #8e9e8f;
}

.face-overlay {
  position: absolute;
  border: 2px solid red;
  pointer-events: none;
}
